.jm-ltsc {
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 160%
}

.jm_ltsc fieldset, .jm_ltsc h3, .jm_ltsc h4, .jm_ltsc img, .jm_ltsc p, .jm_ltsc pre, .jm_ltsc ul {
    margin: 1em 0;
    max-width: 1024px;
}

.jm-ltsc-form, .jm_ltsc ul {
    padding-left: 0;
}

.jm-ltsc-form fieldset {
    padding: 30px;
}

.jm-ltsc-form fieldset legend {
    font-size: 1.3em;
}

.jm_ltsc li {
    list-style-type: none;
}

.jm_ltsc h2:before {
    color: #EF8E02;
    font-size: 50px;
    width: 50px;
    height: 50px;
    margin-right: .5em;
}

.jm_ltsc .inbl {
    display: inline-block;
}

.clear {
    clear: both;
}

.jm_ltsc img.profile {
    float: left;
    margin-top: -10px;
    margin-right: 10px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: .5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019"
}

blockquote:before {
    color: #ccc;
    font-family: Georgia, Times, "Times New Roman", serif;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

blockquote p {
    display: inline;
}

#tabs {
    width: 100%;
    height: 30px;
    border-bottom: solid 1px #CCC;
    padding-right: 2px;
    margin-bottom: 0;
}

a {
    cursor: pointer;
}

#tabs li {
    float: left;
    list-style: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-right: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    outline: 0;
    background: #fff;
}

#tabs li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 700;
    color: #5685bc;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
    display: block;
    background: #FFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-decoration: none;
    outline: 0;
}

#tabs li a.inactive {
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: #666;
    background: #EEE;
    outline: 0;
}

#tabs li a.inactive:hover, #tabs li a:hover {
    color: #5685bc;
    outline: 0;
}

.container {
    max-width: 1024px;
    border-left: solid 1px #CCC;
    border-right: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    padding: 2em;
    background: #fff;
}

.container h2 {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #5685bc;
}

.container p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.3;
    font-size: small;
}

.container ul {
    margin-left: 25px;
    font-size: small;
    line-height: 1.4;
    list-style-type: disc;
}

.container li {
    padding-bottom: 5px;
    margin-left: 5px;
}

.error {
    padding: 1em;
}
