/*
 Styles for JM Last Twit Shortcode
 Author: Julien Maury
 Author URI: http://tweetpress.fr
 */

/* content */
#jm-ltsc {
	padding: 1.2em;
	max-width: 800px;/* handier*/
}

#jm-ltsc a:before {
	content: "[";
}
#jm-ltsc a:after {
	content: "]";
}

#jm-ltsc h2, #jm-ltsc h3 {
	font-size: 2em;
	margin-bottom: 1em;
	color: #444;
	font-weight: normal;
}
#jm-ltsc h2 {
	font-size: 2.5em;
}


#jm-ltsc-form label, #jm-ltsc-form input, .inbl {
	display: inline;
	zoom: 1;/* IE7*/
	display: inline-block;/* really better ! */
	vertical-align: middle;
}

#jm-ltsc-form {
 background-color: Mintcream;
 	border: 1px solid #ddd;
 padding:2em;
	line-height: 1.6;
}

#JM_submit {
	float: right;
}

