.jm-ltsc { font-family: Georgia, Times, "Times New Roman", serif;  }
.jm_ltsc p, 
.jm_ltsc h4, .jm_ltsc h3, .jm_ltsc ul,
.jm_ltsc img, .jm_ltsc pre, .jm_ltscjm_ltsc input {
	padding: 0.25em 20px;
	margin:1em 0;
	line-height:160%;
}


.jm_ltsc h2:before {
	color: #EF8E02;
	font-size:50px;
	width: 50px;
	height: 50px;
	margin-right:.5em;
}

.jm_ltsc .inbl  { display:inline-block; }
 ul.tweetfeed { margin: 0 auto 0 2em; width:60%; background:#fff; border:1px solid #eee; padding:1em;  }
.tweet-username,.tweet-screen-name,
.tweet-reply,.tweet-favorite,.tweet-retweet{ float:right; margin-right: .5em; }
.tweet-content{margin: 1em 0; display:block; width:100%; }
.jm_ltsc .filters li{ margin-right: .5em; background:#eee; }
.intent-meta{  right:.2em; bottom:.2em; }
.tweetfeed { padding:1em 0; }
.tweet-content,.time-date { margin-left: 1em; }

.clear { clear:both; }

.jm_ltsc img.profile {
	float:left;
	margin-top:-10px;
	margin-right:10px;
}


}
